@tailwind base;
@tailwind components;
@tailwind utilities;

.activeLink {
    @apply bg-primary text-white;
}

.inactiveLink {
    @apply hover:bg-primary hover:bg-opacity-70 hover:text-white;
}

.errorMessage {
    @apply text-sm text-red-500;
}

.inputStyles {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6;
}

.iconStyles {
    @apply h-6 w-6 hover:text-gray-800 cursor-pointer;
}

.pagination-container {
    @apply flex items-center;
}
  
.pagination-item {
    @apply inline-block border border-secondary mr-4 cursor-pointer rounded-md px-2 text-[#7E8DD8];
}
  
.pagination-item-active {
    @apply border border-[#7E8DD8] rounded-md px-2;
}
  
.pagination-previous,
.pagination-next {
    @apply inline-block mr-1 cursor-pointer text-[#7E8DD8];
}

.pagination-previous {
    @apply mr-2;
}

.pagination-next {
    @apply ml-2;
}

.tableTh {
    @apply px-3 py-3.5 text-left text-sm font-bold text-gray-900 border-r border-gray-200;
}

.tableTd { 
    @apply whitespace-nowrap px-3 py-4 text-sm border-r border-gray-200;
}

.labelStyles {
    @apply block text-sm font-medium leading-6 text-gray-900;
}

.formButton {
    @apply flex justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-opacity-90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary;
}

.secondaryButton {
    @apply inline-flex items-center px-3 py-1.5 border border-primary text-sm font-medium rounded-md text-black hover:bg-primary hover:bg-opacity-30 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary;
}

h1 {
    @apply mb-20 text-3xl font-extrabold leading-none text-center tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white;
}

h2 {
    @apply mb-10 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white;
}

h3 {
    @apply mb-10 text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white;
}

h4 {
    @apply mb-10 text-lg font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl dark:text-white;
}

.starsContainer, .starsContainer > span{
    @apply !flex flex-wrap items-center mt-1;
}

.overViewContainer {
    @apply border border-gray-300 rounded-md p-5 bg-white mb-10;
}

.overViewLine {
    @apply flex flex-col md:flex-row justify-between md:space-x-6;
}

/* Custom styles for scrollbar */
.scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set a color for the scrollbar track */
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    border: 2px solid transparent;
  }


@media print {
    .no-print {
        display: none;
    }

    .print-overflow-hidden {
        overflow: visible !important;
    }

    .print-search-section-container {
        background-color: #fff !important;
        border: none !important;
    }

    .print-flex-row {
        display: flex !important;
        flex-direction: row !important;
    }

    .print-no-display {
        display: none !important;
    }

    .print-no-truncate {
        overflow: hidden !important;
        display: -webkit-box !important;
        -webkit-line-clamp: unset !important;
        -webkit-box-orient: vertical !important;
    }
}